<div class="main-content container">
  <div class="main-content__heading">
    <h2 class="main-content__headingText">
      Cadastro DEV
    </h2>
    <button mat-raised-button color="primary" (click)="openUserFormDialog()">
      Cadastrar Desenvolvedor
    </button>
  </div>
  <div class="main-content__session">
    <h4>Filtros</h4>
    <app-developer-filter (filterChanged)="filterChangeHandler($event)" />
  </div>
  <div class="main-content__session">
    <h4> Lista</h4>
    <app-developer-list [items]="filteringDevelopersList" [isLoading]="isLoadingDevelopers" />
  </div>
</div>
