<div class="mainContent container">
  <div class="mainContent__heading">
    <h2 class="mainContent__headingText">
      Cadastro DEV
    </h2>
    <button mat-flat-button color="primary" (click)="openUserFormDialog()">
      Cadastrar Desenvolvedor
    </button>
  </div>
  <div class="mainContent__session">
    <h4>Filtros</h4>
    <app-developer-filter (filterChanged)="filterChangeHandler($event)" [hasActiveFilters]="hasActiveFilters" />
  </div>
  <div class="mainContent__session">
    <h4>Lista</h4>
    <app-developer-list [items]="filteringDevelopersList" [isLoading]="isLoadingDevelopers" [hasActiveFilters]="hasActiveFilters" />
  </div>
</div>
