.mainContent {
  max-width: 1130px;
  margin: 0 auto;
  padding: 16px;

  .mainContent__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .mainContent__headingText {}
  }
  .mainContent__wrapper {
    .mainContent__session {}
  }
}
