<mat-card class="form__wrapper">
  <h3 class="form__heading">Cadastro de desenvolvedor</h3>
  <form class="form__content" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <form-heading-feedback [formRef]="userForm" *ngIf="currentStep > 0" />
    <div class="form__stepContainer">
      <form-step-personal *ngIf="currentStep === 0"
        [formRef]="userForm"
        [isDebouncing]="isDebouncing"
        [partialProfile]="inheritAuthInfo"
        [autocompleteSuggestions]="suggestionUsers"
        (autocompleteHandler)="autoCompleteHandler($event)"
      />
      <form-step-github *ngIf="currentStep === 1" [formRef]="userForm" />
      <form-step-experience *ngIf="currentStep === 2" [formRef]="userForm" />
    </div>
    <div class="form__bottomNavigation">
      <button
        *ngIf="currentStep === 0"
        class="form__handleStepButton form__previousStepButton" mat-raised-button color="warn" type="button"
        (click)="closeFormDialog()"
      >
        Fechar
      </button>
      <button *ngIf="currentStep !== 0"
        class="form__handleStepButton form__previousStepButton" mat-raised-button color="primary" type="button"
        (click)="changeStepHandler(-1)"
      >
        Voltar
      </button>
      <button *ngIf="currentStep !== steps.length - 1"
        class="form__handleStepButton form__nextStepButton" mat-flat-button color="primary" type="button"
        (click)="changeStepHandler(1)"
        [disabled]="!isStepValid()"
      >
        Avançar
      </button>
      <button *ngIf="currentStep === steps.length - 1"
        class="form__submitButton" mat-flat-button color="primary" type="submit"
      >
        Cadastrar
      </button>
    </div>
  </form>
</mat-card>
