<div class="form__stepContainer">
  <div class="form__quickAuth__github">
    <app-github-auth [partialProfile]="partialProfile" [isAuthenticated]="isAuthenticated()" />
    <span class="form__authAlternativeLabel">
      {{ isAuthenticated() ? 'Preencha as informações restantes' : 'Ou preencha os campos abaixo:' }}
    </span>
  </div>
  <div class="form__fieldGroup" [formGroup]="formRef">
    <name-autocomplete-field [formGroup]="formRef" (autocompleteSetter)="handleAutocompleteUpdate($event)" [isLoading]="isDebouncing" />
    <mat-form-field class="form__fieldContent" appearance="fill">
      <mat-label class="form__fieldLabel">Email</mat-label>
      <input class="form__fieldInput" matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="form__fieldContent" appearance="fill">
      <mat-label class="form__fieldLabel">Cidade</mat-label>
      <input class="form__fieldInput" matInput formControlName="city">
    </mat-form-field>
  </div>
</div>
