<div class="formFeedback__wrapper">
  <div class="formFeedback__fieldInfo">
    <span class="formFeedback__fieldInfoText formFeedback__fieldInfoText__key">
      Nome:
    </span>
    <span class="formFeedback__fieldInfoText formFeedback__fieldInfoText__value">
      {{getFieldValue('name')}}
    </span>
  </div>
  <div>
    <span class="formFeedback__fieldInfoText formFeedback__fieldInfoText__key">
      Email:
    </span>
    <span class="formFeedback__fieldInfoText formFeedback__fieldInfoText__value">
      {{getFieldValue('email')}}
    </span>
  </div>
</div>
